<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>3D Obj</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col"/>
          <h1>3D Object Editor</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          <canvas id="glcanvas" width="640" height="480"></canvas>
        </div>
        <div class="col-7">
          <div id="ui">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" id="ui-tabs" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="materials-tab" data-toggle="tab" href="#materials" role="tab" aria-controls="materials" aria-selected="true">Materials</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="points-tab" data-toggle="tab" href="#points" role="tab" aria-controls="points" aria-selected="false">Points</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="triangles-tab" data-toggle="tab" href="#triangles" role="tab" aria-controls="triangles" aria-selected="false">Triangles</a>
              </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div class="tab-pane active" id="materials" role="tabpanel" aria-labelledby="materials-tab">
                
                <h2>Colours and shading information</h2>

                <div class="row mb-2">
                  <div class="col">
                    <button type="button" class="btn" v-on:click="clearMaterials"><i class="fas fa-trash-alt"></i> Clear</button>
                    <button type="button" class="btn" v-on:click="addMaterial"><i class="fas fa-plus"></i> Add</button>
                  </div>
                </div>

                <form id="material-list" class="form-inline">
                    <div class="row" v-for="(material, index) in materials">
                      <label class="sr-only" for="materialname">Name</label>
                      <input type="text" v-model="material.name" class="form-control form-control-sm mb-2 mr-2" id="materialname" placeholder="Name" v-on:change="materialChanged">
                  
                      <label class="sr-only" for="materialr">R</label>
                      <input type="number" v-model="material.r" class="form-control form-control-sm mb-2 mr-2" id="materialr" placeholder="R" step="0.1" min="0" max="1" v-on:change="materialChanged">

                      <label class="sr-only" for="materialr">G</label>
                      <input type="number" v-model="material.g" class="form-control form-control-sm mb-2 mr-2" id="materialg" placeholder="G" step="0.1" min="0" max="1" v-on:change="materialChanged">

                      <label class="sr-only" for="materialr">B</label>
                      <input type="number" v-model="material.b" class="form-control form-control-sm mb-2 mr-2" id="materialb" placeholder="R" step="0.1" min="0" max="1" v-on:change="materialChanged">

                      <label class="sr-only" for="materialr">A</label>
                      <input type="number" v-model="material.a" class="form-control form-control-sm mb-2 mr-2" id="materiala" placeholder="A" step="0.1" min="0" max="1" v-on:change="materialChanged">

                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" v-model="material.isFire" id="materialisfire" v-on:change="materialChanged">
                        <label class="form-check-label" for="materialisfire">Is Fire</label>
                      </div>

                      <div class="col">
                        <button type="button" class="btn btn-sm" v-on:click="deleteMaterial(index)">
                          <i class="fas fa-trash-alt"></i>
                        </button>
                      </div>
                    </div>
                  </form>

              </div>
              <div class="tab-pane" id="points" role="tabpanel" aria-labelledby="points-tab">

                <h2>Define points within the model</h2>

                <div class="row mb-2">
                  <div class="col">
                    <button type="button" class="btn" v-on:click="clearPoints"><i class="fas fa-trash-alt"></i> Clear</button>
                    <button type="button" class="btn" v-on:click="addPoint"><i class="fas fa-plus"></i> Add</button>
                  </div>
                </div>

                <form id="points-list" class="form-inline">
                  <div class="row" v-for="(point, index) in points">
                    <label class="sr-only" for="pointname">Name</label>
                    <input type="text" v-model="point.name" class="form-control form-control-sm mb-2 mr-2" id="pointname" placeholder="Name" v-on:change="pointChanged">
                  
                    <label class="sr-only" for="pointx">X</label>
                    <input type="number" v-model="point.x" class="form-control form-control-sm mb-2 mr-2" id="pointx" placeholder="X" step="0.1" min="-2" max="2" v-on:change="pointChanged">
                  
                    <label class="sr-only" for="pointy">Y</label>
                    <input type="number" v-model="point.y" class="form-control form-control-sm mb-2 mr-2" id="pointy" placeholder="Y" step="0.1" min="-2" max="2" v-on:change="pointChanged">
                  
                    <label class="sr-only" for="pointy">Z</label>
                    <input type="number" v-model="point.z" class="form-control form-control-sm mb-2 mr-2" id="pointz" placeholder="Z" step="0.1" min="-2" max="2" v-on:change="pointChanged">

                    <div class="col">
                      <button type="button" class="btn btn-sm" v-on:click="deletePoint(index)">
                        <i class="fas fa-trash-alt"></i>
                      </button>
                    </div>
                  </div>
                </form>

              </div>
              <div class="tab-pane" id="triangles" role="tabpanel" aria-labelledby="triangles-tab">

                  <h2>Triangles between the points</h2>
                  
                  <div class="row mb-2">
                    <div class="col">
                      <button type="button" class="btn" v-on:click="clearTriangles"><i class="fas fa-trash-alt"></i> Clear</button>
                      <button type="button" class="btn" v-on:click="addTriangle"><i class="fas fa-plus"></i> Add</button>
                    </div>
                  </div>
                  
                  <form id="triangles-list" class="form-inline">
                      <div class="row" v-for="(triangle, index) in triangles">
                        <label class="sr-only" for="p1">P1</label>
                        <select id="p1" v-model="triangle.p1" class="form-control form-control-sm mb-2 mr-2" v-on:change="triangleChanged">
                          <option v-for="(point, index) in points" v-bind:value="index">{{ point.name }}</option>
                        </select>
                        
                        <label class="sr-only" for="p2">P2</label>
                        <select id="p2" v-model="triangle.p2" class="form-control form-control-sm mb-2 mr-2" v-on:change="triangleChanged">
                          <option v-for="(point, index) in points" v-bind:value="index">{{ point.name }}</option>
                        </select>
                        
                        <label class="sr-only" for="p3">P3</label>
                        <select id="p3" v-model="triangle.p3" class="form-control form-control-sm mb-2 mr-2" v-on:change="triangleChanged">
                          <option v-for="(point, index) in points" v-bind:value="index">{{ point.name }}</option>
                        </select>
                        
                        <label class="sr-only" for="trianglematerial">Material</label>
                        <select id="trianglematerial" v-model="triangle.material" class="form-control form-control-sm mb-2 mr-2" v-on:change="triangleChanged">
                          <option v-for="(material, index) in materials" v-bind:value="index">{{ material.name }}</option>
                        </select>
                          
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="checkbox" v-model="triangle.renderBothSides" id="trianglerenderbothsides" v-on:change="triangleChanged">
                          <label class="form-check-label" for="trianglerenderbothsides">Double Sided</label>
                        </div>

                        <div class="col">
                          <button type="button" class="btn btn-sm" v-on:click="deleteTriangle(index)">
                            <i class="fas fa-trash-alt"></i>
                          </button>
                        </div>
                      </div>
                    </form>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </body>
  
  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

  <script src="scripts/gl-matrix.js"></script>
  <script src="scripts/3dobj.js"></script>
  <script src="scripts/3dui.js"></script>

</html>
