html, body {
    margin: 0; 
    height: 100%; 
    overflow: hidden
}

pre.codeblock {
    display: block;
    height: 150px;
}

pre.codeblock button.float-right {
    position: sticky;
    top: 0;
}

div.listcontainer {
    padding-left: 1em;
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(95vh - 150px);
}