html, body {
    margin: 0; 
    height: 100%; 
    overflow: hidden
}

pre.codeblock {
    display: block;
    height: 150px;
}

pre.codeblock button.float-right {
    position: sticky;
    top: 0;
}

div.listcontainer {
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(95vh - 150px);
}

.alternating-background {
    width: 100%;    
}
.alternating-background:nth-child(odd) {
    background: #EEE;
}

.form-inline .form-check.inlinefix {
    display: inline-flex;
}